<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="http://localhost:8000/question/add/" method="post">

        <label>
            <input type="text" name="question_type"><br>
            题目标题:
            <input type="text" name="question"><br>
            选项1：
            <input type="text" name="op1"><br>
            选项2：
            <input type="text" name="op2"><br>
            选项3：
            <input type="text" name="op3"><br>
            选项4：
            <input type="text" name="op4"><br>
            答案：
            <input type="text" name="answer"><br>
            
        </label><br>
        <button type="submit"> 添加 </button>
    </form>
</body>
</html>